#exchangeRate {
  color: white;
  background-color: blueviolet;
  font-weight: bold;
}

div.result {
  color: green;
  font-weight: bold;
  font-size: 1.5em;
}

.error {
  color: red;
  text-align: start;
}
